#map {
    display: block;
}

.displayvariable {
    display: none;
    margin-top: 60px;
}

#homepage {
    display: block;
}

#sidebar-wrapper {
    margin-top: 57px;
}

#mymap {
    width: 90vw;
    height: 50vh;
    margin: auto;
    z-index: 1000;
}

input{
    max-width: 90%;
}
