.displayvariable {
    display: none;
    margin-top: 60px;
    height: 100vh;
    max-height: 100vh;
}

#map {
    display: block;
}

#sidebar-wrapper {
    margin-top: 57px;
}

#mymap {
    width: 90vw;
    height: 70vh;
    margin: auto;
    z-index: 1000;
}

input{
    max-width: 100%;
}

#login2 .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login2 .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login2 .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}


.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

/* The Modal (background)
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.input-group{
    margin-top: 5px;
}

.input-group input{
    width: 100%;
}

*/