.displayvariable {
    display: none;
    margin-top: 60px;
    height: 100vh;
    max-height: 100vh;
}

#map {
    display: block;
}

#mymap {
    width: 90vw;
    height: 70vh;
    margin: auto;
    z-index: 1000;
}

